
<!-- The Modal -->
<div class="modal fade" id="containerModal" tabindex="-1" aria-labelledby="containerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-0 shadow-lg">

        <!-- Modal Header -->
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="containerModalLabel">Create New Container</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        
        <div id="nvdockerAlert" class="alert alert-warning collapse" role="alert">
          Ensure you have Nvidia GPU in your device or maybe you need to install the Nvidia Container Toolkit? 
          <a href="https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/install-guide.html#installation" target="_blank">Learn more</a>.
        </div>

        <!-- Modal Body -->
        <div class="modal-body bg-light px-4 py-3">
          <form id="containerForm" novalidate>
            <div class="mb-3">
              <label for="container_name" class="form-label">Container Name:</label>
              <input type="text" class="form-control" id="container_name" name="container_name" placeholder="Enter container name" required>
              <div class="invalid-feedback">
                Please enter a container name.
              </div>
            </div>
            <div class="mb-3">
              <label for="novnc" class="form-label">noVNC Port:</label>
              <input type="number" class="form-control" id="novnc" name="novnc" placeholder="Enter noVNC port" onchange="validatePortNumber(this)" required>
              <div class="invalid-feedback">
                Please enter a valid noVNC port number.
              </div>
            </div>
            <div class="mb-3">
              <label for="ssh" class="form-label">SSH Port:</label>
              <input type="number" class="form-control" id="ssh" name="ssh" placeholder="Enter SSH port" onchange="validatePortNumber(this)" required>
              <div class="invalid-feedback">
                Please enter a valid SSH port number.
              </div>
            </div>
            <div class="mb-3">
              <label for="user" class="form-label">User:</label>
              <input type="text" class="form-control" id="user" name="user" placeholder="Enter user name" required>
              <div class="invalid-feedback">
                Please enter a user name.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">User Password:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
              <div class="invalid-feedback">
                Please enter a password.
              </div>
            </div>
            <div class="mb-3">
              <label for="vnc_password" class="form-label">VNC Password:</label>
              <input type="password" class="form-control" id="vnc_password" name="vnc_password" placeholder="Enter VNC password" required>
              <div class="invalid-feedback">
                Please enter a VNC password.
              </div>
            </div>
            <div class="mb-3">
              <label for="root_password" class="form-label">Root Password:</label>
              <input type="password" class="form-control" id="root_password" name="root_password" placeholder="Enter root password" required>
              <div class="invalid-feedback">
                Please enter a root password.
              </div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="privileged" name="privileged">
              <label class="form-check-label" for="privileged">Run container in privileged mode</label>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="nvdocker" name="nvdocker">
              <label class="form-check-label" for="nvdocker">Enable Nvidia Docker support</label>
            </div>
          </form>
        </div>
  
        <!-- Modal Footer -->
        <div class="modal-footer bg-secondary">
            <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-light" form="containerForm">Create</button>
        </div>
      </div>
    </div>
  </div>
  


<script>
// Function to fetch free ports and fill the form
function fetchFreePorts() {
    const accessToken = localStorage.getItem('accessToken');
    fetch('/dashboard/api/ports?count=2',{
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${accessToken}`
        }
    })
      .then(response => response.json())
      .then(data => {
        if(data && data.free_ports.length >= 2) {
          document.getElementById('novnc').value = data.free_ports[0];
          document.getElementById('ssh').value = data.free_ports[1];
        }
      })
      .catch(error => console.error('Error fetching free ports:', error));
}

// Check if port is used when the user inputs a port number
function checkPortAvailability(portInput) {
  const port = portInput.value;
  const accessToken = localStorage.getItem('accessToken');
  fetch(`/dashboard/api/ports/check?port=${port}`, {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json',
          'Authorization': `Bearer ${accessToken}`
      }
  })
  .then(response => {
      if (!response.ok) {
          throw new Error('Network response was not ok');
      }
      return response.json();
  })
  .then(data => {
      if (data.is_used) {
          // If the port is used, show a SweetAlert warning
          Swal.fire({
              icon: 'warning',
              title: 'Oops...',
              text: `Port ${port} is already in use. Please choose another one.`,
          });
          // Optionally, you could clear the invalid port input
          portInput.value = '';
      } else {
          // The port is not used, handle accordingly
          // Maybe provide some visual confirmation that the port is free
      }
  })
  .catch(error => {
      console.error('Error checking port availability:', error);
      // Display error using SweetAlert
      Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'There was a problem checking the port availability.',
      });
  });
}

function validatePortNumber(inputField) {
    const port = parseInt(inputField.value, 10);
    
    // Check if the port number is a valid number and less than 65535
    if (isNaN(port) || port <= 0 || port >= 65535) {
      // Using SweetAlert to display the error
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Port number must be between 1 and 65534.',
      });
  
      inputField.value = ''; // Clear the invalid input
      inputField.focus(); // Refocus on the input field for correction
    }
  }

  function checkNvidiaDockerAvailability() {
    const nvdockerCheckbox = document.getElementById('nvdocker');
    const accessToken = localStorage.getItem('accessToken');
    fetch('/dashboard/api/nvdocker/check', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${accessToken}`
        }
      })
        .then(response => {
          if (response.status === 503) {
            nvdockerCheckbox.checked = false;
            nvdockerCheckbox.disabled = true;
            throw new Error('Nvidia Docker support is unavailable.');
          }
          if (!response.ok) {
            throw new Error('Network response was not ok.');
          }
          return response.json();
        })
        .then(data => {
          if (data.nvidia_docker_available) {
            nvdockerCheckbox.disabled = false;
          } else {
            nvdockerCheckbox.checked = false;
            nvdockerCheckbox.disabled = true;
            showNvdockerAlert();
          }
            updateNvdockerLabel(data.nvidia_docker_available);
        })
        .catch(error => {
            console.log('There has been a problem with your fetch operation:', error);
            nvdockerCheckbox.disabled = true;
            showNvdockerAlert();
      });
}

function showNvdockerAlert() {
  const alertBox = document.getElementById('nvdockerAlert');
  $(alertBox).collapse('show');

  /*
  // Automatically hide the alert after 5 seconds (5000 milliseconds)
  setTimeout(() => {
      $(alertBox).collapse('hide');
  }, 5000);
  */
}

function updateNvdockerLabel(available) {
    const nvdockerLabel = document.querySelector('label[for="nvdocker"]');
    nvdockerLabel.textContent = available ? 
        "Enable Nvidia Docker support" : 
        "Nvidia Docker support not available";
}

function openContainerForm() {
    // Fetch free ports when the modal is opened
    fetchFreePorts();
    // Check if Nvidia Docker is available
    checkNvidiaDockerAvailability();
    // Then show the modal using jQuery
    $('#containerModal').modal('show');
  }  

// Add event listener to port input fields
document.getElementById('novnc').addEventListener('change', function() {
  if(this.value) {
    checkPortAvailability(this);
  } 
});

document.getElementById('ssh').addEventListener('change', function() {
  if(this.value) {
    checkPortAvailability(this);
  }
});



document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('containerForm');
    form.addEventListener('submit', function(event) {
    event.preventDefault(); // Stop the form from submitting the traditional way

    if (form.checkValidity()) {
        // Form is valid, send the data
        const formData = new FormData(form);
        const requestData = Object.fromEntries(formData.entries());
        // `on` -> `true`
        // `off` -> `false
        requestData.privileged = formData.get('privileged') === 'on';
        requestData.nvdocker = formData.get('nvdocker') === 'on';
        const accessToken = localStorage.getItem('accessToken');

        fetch('/dashboard/api/container/new', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${accessToken}`
        },
        body: JSON.stringify(requestData),
        })
        .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
        })
        .then(data => {
            // Handle success
            console.log(data);
            $('#containerModal').modal('hide'); // Close the modal if using Bootstrap 4
            // If using Bootstrap 5, use `bootstrap.Modal.getInstance(document.getElementById('containerModal')).hide();`
            // Optionally refresh container list or notify the user here
            getUpdate(data.task_id).then(() => {
                fetchAndDisplayContainers();
                createToastAlert('Container created successfully.', false);
            })
        })
        .catch((error) => {
        // Handle errors
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: error,
          });
        // Display error message to the user using SweetAlert or another method
        });
    } else {
        // Form is invalid, trigger validation
        form.reportValidity();
    }
    });
});
</script>
